.comments_section {
  margin-top: -80px;
}

.comments_section ol {
  margin-top: -80px;
}

.comments_section li {
  margin-top: 10px;
}
  
.comment_pfp {
  width: 35px;
  height: auto;
  float: left;
}

.comment_pfp img {
  display: block;
}

.comment_content {
  margin-left: 39px;
}

.commentbar {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100px;
}

.commentGrid {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.more-info-box {
  margin-bottom: 25px;
}

.inputbox {
  position: relative;
  margin-top: 4.5px;
  padding: 12px 20px;
  border-radius: 10px;
  box-sizing: border-box;
  width: 85%;
  float: left;
  transform: translate(0, -50%);
}

.commentbar .submit-button {
  background-color: cornflowerblue;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  width: 14%;
  float: right;
  transform: translate(0, -50%);
}