.main-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.Content {
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.main-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: auto;
}

.Feed {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background: #1c2237;
  font-family: "Trebuchet MS", sans-serif;
}
