.user-photo {
  position: relative;
  left: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: auto;
}
.info {
  display: grid;
  grid-template-columns: 1.25fr 2fr;
}
.more-info-box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
  /*left: 6%;*/
  align-items: center;
  height: auto;
  width: 1400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  /* border: 3px solid red; */
  overflow-y: scroll;
  background-color: white;
  opacity: 0.9;
  border-radius: 10px;
}
.Linegraph {
  height: 500px;
  width: 800px;
}
.leftPage {
  height: 100%;
  margin: 25px;
  /*border: 3px solid red;*/
}
.rightPage {
  height: 100%;
  margin: 25px;
  /*border: 3px solid blue;*/
}
.item_image{
  justify-content: center;
}