.main-container {
    text-align: center;
}

ol li{
  list-style-type: none;
  text-align: center;
}

h1 {
    text-align: center;
}

.feedbox {
    position: absolute;
    top: 100%;
    left: 50%;
    align-items: center;
    height: 500px;
    width:1200px;
    border: 3px solid red;
    overflow-y: scroll;
}

.PostGrid {
    display: grid;
    grid-template-columns: 140px auto;
}

.product-image {
    position: relative;
    left: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    height: auto;
}

.other-information {
    position: relative;
}