.profile {
  display: grid;
  grid-template-columns: 1.1fr 2fr;
}

.profile-navbar {
  background: #1c2237;
  height: 120px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.leftPage {
  height: 100%;
  margin: 25px;
  /*border: 3px solid red;*/
}

.rightPage {
  height: 100%;
  margin: 25px;
  /*border: 3px solid blue;*/
}

/*Biography*/

.bio-content {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 2;
  position: relative;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.9;
  border-radius: 10px;
}

.bio-pfp {
  width: 150px;
  height: 150px;
  margin: 50px;
}

.bio-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  justify-content: space-between;
}

.bio-name {
  font-size: 4rem;
  font-weight: 800;
}

.likes-posts {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 100px;
  justify-items: center;
  align-items: center;
  list-style: none;
  font-size: 1.25rem;
  font-weight: 300;
  margin: 100px;
}

/*Profile Feed*/

.profile-feed {
  align-items: center;
  overflow-y: scroll;
  height: 750px;
  width: 100%;
  background-color: white;
  opacity: 0.9;
  border-radius: 10px;
}

.profile-feed-image {
  width: 150px;
  height: 150px;
}

.PostItem {
  position: relative;
  float: left;
  margin-bottom: 20px;
  margin-left: -10px;
  margin-right: 20px;
  background-color: lightgray;
  overflow: auto;
  border-radius: 10px;
}

.PostGrid {
  position: relative;
  top: 10px;
  bottom: 10px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 160px auto;
}

.product-image {
  position: relative;
  left: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
  height: auto;
  top: 50%;
  transform: translate(0, -50%);
}
