.SearchResults {
    position: absolute;
    top: 10%;
    left: 30%;
    right: 50%;
    width: 50%;
    height: 80%;
    z-index: 10;
    background-color: gray;
    border-radius: 10px;
}

.Xbutton {
    position: absolute;
    top: 3px;
    right: 3px;
}

.Xbutton button {
    width: 30px;
    height: 30px;
    background-color: red;
    color: white;
}

.ResultsContainer {
    position: absolute;
    top: 40px;
    bottom: 5px;
    left: 0;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}