.main-container {
    text-align: center;
}
input[type=text] {
    width: 70%;
    padding: 12px 20px;
    border-radius: 10px;
    box-sizing: border-box;
}
button {
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: auto;
}

.livefeed {
    list-style-type: none;
    background-color: #eee;
    width: 250px;
    height: 500px;
    overflow: auto;
    font-size: 28px;
    font-weight: bold;
    color: black;
}
    
h1 {
    text-align: center;
}